
.contenedor{
    position: relative;
    background-color: bisque;
    border:1px solid black;
}
header{
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: blue;
}
header{
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: blue;
}